*
{
  margin:0px;
  padding:0px;
}
#menu ul
{
    list-style:none;
}
#menu ul li
{
    background-color:red;
    border:1px solid white;
    width:120px;
    height:35px;
    line-height:35px;
    text-align: center;
    float:left;
    position:relative;
}
#menu ul li a
{
  text-decoration:none;
  color:black;
  display:block;
}
#menu ul li a:hover
{
  background-color:white;
}
#menu ul ul
{
  position:absolute;
}
#menu ul li:hover >ul
{
  display:block;
}
